.radio {
    display: inline-flex;
	flex-wrap: wrap;
	justify-content: left;

	&-label {
		margin: 1.2rem 0.8rem 0 0;
		cursor: pointer;
	}

	&-group {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.25rem;
        height: 1.25rem;
		background-color: transparent;
		border: 0.125rem solid $radio-color;
		border-radius: 100%;
		margin: 0rem 0.5rem;
	}

	&-input:checked + &-checked {
		opacity: 1;
	}

	&-checked {
		content: "";
        width: 0.625rem;
        height: 0.625rem;
		background-color: $radio-color;
		border-radius: 100%;
		opacity: 0;
		@include transition();
	}
}