// Common rules
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, button, span, label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-text-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    font-family: 'Heading', sans-serif;
}

h1 {
    font-size: 2.48rem;
    line-height: 1.30;
}

h2 {
    font-size: 2.0rem;
    line-height: 1.30;
}

h3 {
    font-size: 1.7rem;
    line-height: 1.30;
}

h4 {
    font-size: 1.40rem;
    line-height: 1.30;
}

h5 {
    font-size: 1.2rem;
    line-height: 1.30;
}

// Body
p, a, b, table, label, ul, ol, li, span, input, textarea {
    font-family: 'Body', sans-serif;
    font-size: 1rem;
    line-height: 1.45;
}


// Links
a {

}

// Buttons
button {
    font-size: 0.875rem;
    line-height: 1.45;
    font-family: $button-font;
}

.inverted {
    color: $white !important;

    :hover {
        color: $white !important;
    }
}

// Non-breaking copy, useful for preventing widows
.text-nowrap {
    white-space: nowrap;
}

